

/etc/named/named.conf.local 
-----------------------------
zone "sirius2022.lin." {
type master;
file "/etc/named/zones/192-zone"; # zone file path
};

zone "0.168.192.in-addr.arpa" {
type master;
file "/etc/named/zones/192-rzone";  # 10.128.0.0/16 subnet
};

zone "0.16.172.in-addr.arpa" {
type master;
file "/etc/named/zones/172-rzone";  # 10.128.0.0/16 subnet
};

zone "100.100.200.in-addr.arpa" {
type master;
file "/etc/named/zones/200-rzone";  # 10.128.0.0/16 subnet
};

zone "20.20.20.in-addr.arpa" {
type master;
file "/etc/named/zones/20-rzone";  # 10.128.0.0/16 subnet
};

zone "10.10.10.in-addr.arpa" {
type master;
file "/etc/named/zones/10-rzone";  # 10.128.0.0/16 subnet
};
------------------------------

cat /etc/named/zones/192-zone 
$TTL 3D
$ORIGIN sirius2022.lin.

@       IN      SOA     HQLinSRV1.sirius2022.lin. root.sirius2022.lin. (
2022091306         ; Serial
604800     ; Refresh
86400     ; Retry
2419200     ; Expire
604800 )   ; Negative Cache TTL

; name servers - NS records
@	IN      NS      HQLinSRV1.sirius2022.lin.

; name servers - A records
HQLinSRV1        IN      A       192.168.0.10

; 192.168.0.0/24 - A records
HQLinSRV2        IN      A      192.168.0.20
www              IN      A      192.168.0.30

; 172.16.0.0/24 - A records
BRLinRTR        IN	 A	172.16.0.1
BRLinSRV        IN	 A	172.16.0.10
BRLinCLI        IN	 A	172.16.0.100

; 200.100.100.0/24 - A records
ISP             IN	 A	200.100.100.1
RemoteLinCLI    IN	 A	200.100.100.100

; 10.10.10.0/24 - A records
ISP             IN       A	10.10.10.1
HQLinRTR        IN       A	10.10.10.2

; 20.20.20.0/24 - A records
ISP             IN       A	20.20.20.1
BRLinRTR        IN       A	20.20.20.2


-------------------------------------

cat /etc/named/zones/192-rzone 
$TTL 3D
$ORIGIN 0.168.192.in-addr.arpa.

@       IN      SOA     HQLinSRV1.sirius2022.lin. root.sirius2022.lin. (
2022091303         ; Serial
604800         ; Refresh
86400         ; Retry
2419200         ; Expire
604800 )       ; Negative Cache TTL

; name servers - NS records
@	IN      NS      HQLinSRV1.sirius2022.lin.

; PTR Records
10   IN      PTR     HQLinSRV1.sirius2022.lin.    ; 192.168.0.10
20   IN      PTR     HQLinSRV2.sirius2022.lin.    ; 192.168.0.20
30   IN      PTR     www.sirius2022.lin.          ; 192.168.0.30

-------------------------------------------\

cat /etc/named/zones/172-rzone 
$TTL 3D
$ORIGIN 0.16.172.in-addr.arpa.

@	IN	SOA     HQLinSRV1.sirius2022.lin. root.sirius2022.lin. (
2022091300         ; Serial
604800         ; Refresh
86400         ; Retry
2419200         ; Expire
604800 )       ; Negative Cache TTL

; name servers - NS records
@	IN	NS	HQLinSRV1.sirius2022.lin.

; PTR Records
1	IN	PTR	BRLinRTR		; 172.16.0.1
10    IN      PTR     BRLinSRV.sirius2022.lin.    ; 172.16.0.10
100   IN      PTR     BRLinCLI.sirius2022.lin.    ; 172.16.0.100

-------------------------------------------


cat /etc/named/zones/10-rzone 
$TTL 3D
$ORIGIN 10.10.10.in-addr.arpa.

@	IN	SOA     HQLinSRV1.sirius2022.lin. root.sirius2022.lin. (
2022091300         ; Serial
604800         ; Refresh
86400         ; Retry
2419200         ; Expire
604800 )       ; Negative Cache TTL

; name servers - NS records
@	IN	NS	HQLinSRV1.sirius2022.lin.

; PTR Records
1   IN      PTR     ISP.sirius2022.lin.    ; 10.10.10.1
2   IN      PTR     HQLinRTR.sirius2022.lin.    ; 10.10.10.2


-------------------------------------------


cat /etc/named/zones/20-rzone 
$TTL 3D
$ORIGIN 20.20.20.in-addr.arpa.

@	IN	SOA     HQLinSRV1.sirius2022.lin. root.sirius2022.lin. (
2022091300         ; Serial
604800         ; Refresh
86400         ; Retry
2419200         ; Expire
604800 )       ; Negative Cache TTL

; name servers - NS records
@	IN	NS	HQLinSRV1.sirius2022.lin.

; PTR Records
1   IN      PTR     ISP.sirius2022.lin.    ; 20.20.20.1
2   IN      PTR     BRLinRTR.sirius2022.lin.    ; 20.20.20.2


--------------------------------------------

cat /etc/named/zones/200-rzone 
$TTL 3D
$ORIGIN 100.100.200.in-addr.arpa.

@	IN	SOA     HQLinSRV1.sirius2022.lin. root.sirius2022.lin. (
2022091302         ; Serial
604800         ; Refresh
86400         ; Retry
2419200         ; Expire
604800 )       ; Negative Cache TTL

; name servers - NS records
@	IN	NS	HQLinSRV1.sirius2022.lin.

; PTR Records
1     IN      PTR     ISP.sirius2022.lin.    ; 200.100.100.1
100   IN      PTR     RemoteLinCLI.sirius2022.lin.    ; 200.100.100.100




